{% extends "layouts/base.html" %}

{% block contenido %}
    <header>
        <h1 class="text-center py-3">Registra Laboratorio</h1>
    </header>

    <main class="container">
        <section>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form}}

                        <div class="py-3">
                            <input type="submit" value="Registrar" class="btn btn-primary">
                        </div>
                        
                    </form>
                    
                </div>
            </div>
        </section>
    </main>
{% endblock contenido %}