{% extends "layouts/base.html" %}

{% block contenido %}
    <main class="container">
        <h1 class="text-left py-3">Registra Laboratorio</h1>
        <section>
            <div class="row justify-content-left">
                <div class="col-12 col-md-8 col-lg-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form}}

                        <div class="py-3">
                            <input type="submit" value="Registra" class="btn btn-primary">
                        </div>
                        
                    </form>
                    
                </div>
            </div>
        </section>
    </main>
{% endblock contenido %}