{% extends "layouts/base.html" %}
{% block contenido %}

    <main class="container">
        <section>
            <h1 class="text-left py-5">Actualiza Laboratorio</h1>
        </section>
            <section>
                <div class="row justify-content-left">
                    <div class="col-12 col-md-1">
                        <form method="post">
                            {% csrf_token %}
                                {{form}}
                            <div class="d-grid pt-3 d-md-block">
                                <button class="btn btn-primary btn-md" type="submit" >Actualiza</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
    </main>
{% endblock  %}
