{% extends "layouts/base.html" %}

{% block contenido %}

    <main class="container">
        <section>
            <h1 class="text-center py-5">Eliminar el club: {{club.nombre}}.</h1>
        </section>

        <section>
            <div class="row justify-content-center">
                <div class="col-12 col-md-5">
                    <form method="post" id="form_delete">
                        {% csrf_token %}
                        {{form}}
                        <div>
                            <input type="submit" class="btn btn-danger" value="Eliminar"> 
                        </div>
                    </form>

                    <div>
                        <a href="{% url 'clubs' %}" class="btn btn-primary">Volver a la lista de clubs</a>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <script>
        const form_delete = document.getElementById("form_delete")
    
        form_delete.addEventListener("submit", (event)=> {
            event.preventDefault();

            let confirmacion = confirm("Está seguro que desea eliminar al club?")
            
            if(confirmacion){
                form_delete.submit()
            }
        })
    </script>


{% endblock  %}
